.header{
  height: 400px;
  width: 1000px;
  background-image: url(../marvelvsdc.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#title{
  text-align: center;
  padding-top: 200px;
  color: white;
  font-size-adjust: 200px;
}

#master{
  background-color: #005e62;
  position: absolute;
  width: 100%;
  height:100%;
}

.list_parent{
  display:flex;
  margin-left: auto;
  margin-right: auto;
}

.marvel_section{
  display:block;
  margin-left: auto;
}
.dc_section{
  display: block;
  margin-right: auto;
}

.marvel_header{
  display:flex;
  margin-left: auto;
  margin-right: auto;
}
.marvel_count{
  margin-left: auto;
  margin-right: auto;
}
.dc_header{
  display:flex;
  margin-left: auto;
  margin-right: auto;
}
.dc_count{
  margin-left: auto;
  margin-right: auto;
}
.marvel_form{
  /*background-color: blue;*/
  height: 50px;
  width: 500px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

#marvel_form{
  text-align: center;
  margin-top: 25px;
  padding-top: 15px;
}

#dc_form{
  text-align: center;
  margin-top: 25px;
  padding-top: 15px;
}

.marvel_team{
  background-color: #950000;
  height:auto;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#people{
  color: white;

}
.remove{
  color: blue;
  background-color: red;
}
.promote{
  color: blue;
}

.dc_team{
  background-color: #000045;
  height:auto;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.dc_form{
  /*background-color: blue;*/
  height: 50px;
  width: 500px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

#Rivals{
  color: white;
}
